.heading {
  text-align: center;
  height: 50vh;
  background-color: #DFE0E2;
  padding-top: 60px;
  margin-bottom: 30px;
}

.heading h1 {
  font-size: 45px;
}

.heading p {
  font-size: 30px;
}

.heading button {
  border: 3px solid #181818;
  color: #181818;
    font-size: 18px;;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.heading button:hover,
.heading button:active {
  color: #fff;
  background: #181818;
}

.about-section p{
  line-height: 1.8;
}