.user-greeting{
  padding: 20px;
  height: 60px;
  font-size: 18px;
  font-weight: 100;
}

.feedback-message {
  height: 80px;
}

.finishBtn {
  border: 1px solid #181818;
  color: #181818;
  font-size: 12px;
  cursor: pointer;
  padding: 7px 25px;
  display: inline-block;
  margin: 30px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.finishBtn:hover,
.finishBtn:active {
  color: #fff;
  background-color: #181818;
}

h1 {
  font-size: 40px;
  font-weight: 100
}

.horizontal-divider {
  border-top: solid thin #DFE0E2;
  margin-top: 100px;
  margin-right: 25px;
}