.registrationForm {
  border: 2px solid #DFE0E2;
  padding: 15px;
}

.register-btn {
  border: 1px solid #181818;
  color: #181818;
    font-size: 12px;;
    background: none;
    cursor: pointer;
    padding: 7px 25px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 0;
}

.register-btn:hover,
.register-btn:active {
  color: #181818;
  background: #DFE0E2;
}

.login-link {
  text-decoration: none;
}

.login-link:hover,
.login-link:active {
      color:#181818;
      text-decoration:underline;
}
