.user-answer {
    padding: 10px;
    width: 300px;
    margin-bottom: 30px;
    font-size: 20px;
    width: 100%;
}

.answer-submit-btn {
  border: 1px solid #181818;
  color: #fff;
  font-size: 12px;;
  background-color: #181818;
  cursor: pointer;
  padding: 7px 25px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 0;
}

.answer-submit-btn:hover,
.answer-submit-btn:active {
  color: #181818;
  background-color: #fff;
}

.next-btn {
  float: right;
  border: 1px solid #181818;
  color: #fff;
  font-size: 12px;;
  background: #181818;
  cursor: pointer;
  padding: 7px 25px;
  margin: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.next-btn:hover,
.next-btn:active {
  color: #181818;
  background-color: #fff;
}